
.icon-star:before { content: '\e803'; } /* '' */
.icon-glasses:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */