   /*.parallax-container {
       height:92vh;
    }*/
    .section {
     padding-top: 0rem; 
    }
    #Pre_Strona_Główna{
      height:28vh;
      text-align: center;
      font-size: 15vh;
    }
    #Kontakt{
      height:75vh;
      padding-top: 2rem;
      background-color: #3D3D3C;
    }
    #Nasz_zespół{
      height:95vh;
      padding-top: 4rem;
      background-color: white;
    }
    #Usługi{
      height:95vh;
      /*min-height:95vh;*/
      /*padding-top: 2rem;*/
      background-color: white;
    }
    .accent_bg_color{
      background-color: #2F6A89;
    }
    .nav-wrapper{
      background-color: #3D3D3C;
    }
    .page-footer{
      background-color: #3D3D3C; 
    }
    #Strona_Główna{
      background-color: white; 
       height:70vh;
    }
    .parallax-container{
      z-index: 3;
    }
    #Oferta{
      height:95vh;
      /*background-color: #3D3D3C; */
    }
    .head_line{
      /*padding-bottom: 1vh;*/
      text-align: center;
      font-size: 2rem;
      background-color: white; 
      border-top-style: dashed;
      border-color: #2F6A89;
      border-bottom-style: dashed;
    }
    .white_text{
      color: white;
    }
    .gray_text{
      color:#3D3D3C
    }
    /*ZESPÓŁ*/
    #Nasz_zespół{
      height:95vh;
      background-color: white; 
    }
    .image_container{
      height: 20rem;
      width: 20rem;
    }
    .photo_box{
      margin-top: 4rem;
      max-height: 35vh;
      max-width: 25vw;
      /*background-color: white;*/
    }

    .s_head_line{
      font-size: 3vw;
      text-align: center;
    }
    .oferta{
      height: 95vh;
    }
    #oprawki{
      padding-top: 1rem;
      color: white;
      vertical-align: middle;
      border-left-style: dashed;
      border-color: #2F6A89;
      min-width: 10vw;

    } 
    .slider .indicators .indicator-item.active {
      background-color: #2F6A89;
    }
    #under_baner{
      font-size: 3vh;
      letter-spacing: 0.7vw;

    }
    .blue_text{
     color:#2F6A89
    }
    #UslugiHL{
      font-size: 3vw;
      letter-spacing: 1rem;
    }
    .text_for_photo{
      margin-top: 1rem;
      color: white;
      font-size: 5rem;
      text-align:right;
    }
    .dashed_line_spacing{
      height: 47.5vh;
      vertical-align: middle;
      border-left-style: dashed;
      border-color: #2F6A89;
    }
    .icon-glasses{
      font-size: 3rem;
    }
    .hr{
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      margin-bottom: 15px;
      height: 1px;
    }
    .scalable_text_L{
      font-size: 3.5vw;
    }
    .scalable_text_M{
      font-size: 1.8vw;
    }
    .scalable_text_S{
      font-size: 1.5vw;
    }
    .scalable_text_XS{
      font-size: 1.6rem;
    }
    .small_logo{
      text-align: center;
      color: white;
      font-size: 3rem;
    }
    .small_logo_div{
      text-align: center;
    }

    .spacing{
      letter-spacing: 1rem;
    }
    .slider_text_bg{
      background-color: #2F6A89;
    }
    .centerownik{
      text-align: center;
    }
    .yt:hover{
      color: red;
    }
    .inst:hover{
      color: #bc2a8d;
    }
    .fb:hover{
      color: #3b5998;
    }
    .tw:hover{
      color: #00aced;
    }
    .card .card-image .card-title{
      color:black;
      font-weight: bold;
      background-color: white;
      opacity: 0.5;
    }