   /*.parallax-container {
       height:92vh;
    }*/
    .section {
     padding-top: 0rem; 
    }
    #Pre_Strona_Główna{
      height:28vh;
      text-align: center;
      font-size: 15vh;
    }
    #Kontakt{
      height:70vh;
      padding-top: 2rem;
      background-color: #3D3D3C;
    }
    #Nasz_zespół{
      height:95vh;
      background-color: white;
    }
    #Usługi{
      height:95vh;
      padding-top: 2rem;
      background-color: white;
    }
    #Stopka{
      height:25vh;
    }
    .nav-wrapper{
      background-color: #3D3D3C;
    }
    .page-footer{
      background-color: #3D3D3C; 
    }
    #Strona_Główna{
      background-color: white; 
       height:70vh;
    }
    .parallax-container{
      z-index: 3;
    }
    #Oferta{
      height:95vh;
      background-color: #3D3D3C; 
    }
    .head_line{
      padding-bottom: 1rem;
      text-align: center;
      font-size: 2rem;
      background-color: white; 
    }
    .white_text{
      color: white;
    }
    .gray_text{
      color:#3D3D3C
    }
    /*ZESPÓŁ*/
    #Nasz_zespół{
      height:95vh;
      background-color: white; 
    }
    .image_container{
      height: 20rem;
      width: 20rem;
    }
    .photo_box{
      margin-top: 4rem;
      max-height: 35vh;
      max-width: 25vw;
      /*background-color: white;*/
    }

    .s_head_line{
      font-size: 2rem;
        text-align: center;
    }
    .oferta{
      height: 50vh;
    }
    #oprawki{
      padding-top: 1rem;
      font-size: 5rem;
      color: white;
      vertical-align: middle;
      border-left-style: dashed;
      border-color: #2F6A89;

    } 
    .slider .indicators .indicator-item.active {
      background-color: #2F6A89;
    }
    #under_baner{
      font-size: 3vh;
      letter-spacing: 0.7vw;

    }
    .blue_text{
     color:#2F6A89
    }
    #UslugiHL{
      font-size: 3rem;
    }
    .text_for_photo{
      margin-top: 5rem;
      color: white;
      font-size: 5rem;
    }
    .dashed_line_spacing{
      height: 35vh;
      margin-top: 4rem;
      vertical-align: middle;
      border-right-style: dashed;
      border-color: #2F6A89;
      text-align:center;
    }
    .icon-glasses{
      font-size: 3rem;
    }

    .hr{
      border-top: 1px solid rgba(160, 160, 160, 0.2);
      margin-bottom: 15px;
      height: 1px;
    }